#!/usr/bin/make -f

.PHONY: override_dh_installdocs override_dh_strip

DPKG_EXPORT_BUILDFLAGS = 1
-include /usr/share/dpkg/buildflags.mk

CFLAGS   += $(CPPFLAGS)
CXXFLAGS += $(CPPFLAGS)

DH_FLAGS = --parallel --buildsystem=cmake

%:
	dh $@ $(DH_FLAGS)

override_dh_installdocs:
	dh_installdocs --link-doc=libmadgwick-ahrs0

override_dh_strip:
	dh_strip --dbg-package=libmadgwick-ahrs0-dbg
